-- Create the beta feedback table
CREATE TABLE beta_feedback (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id UUID REFERENCES public.users(id),
    university TEXT NOT NULL,
    role TEXT NOT NULL,
    rating INT NOT NULL,
    likes TEXT NOT NULL,
    frustrations TEXT NOT NULL,
    feature_requests TEXT,
    bugs TEXT,
    nps INT,
    contact TEXT,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- Enable RLS
ALTER TABLE beta_feedback ENABLE ROW LEVEL SECURITY;

-- Allow users to insert their own feedback
CREATE POLICY "Users can insert their own feedback" ON beta_feedback 
FOR INSERT WITH CHECK (auth.uid() = user_id);

-- Only admins/CEO can select (or service role)
CREATE POLICY "Admins can view feedback" ON beta_feedback 
FOR SELECT USING (
  EXISTS (
    SELECT 1 FROM users
    WHERE users.id = auth.uid()
    AND (users.role = 'admin' OR users.role = 'ceo')
  )
);
